= current_form.text_area field.name, :rows=>(field.rows || 20), :"data-simple"=>field.simple 
- if @textarea_component_include_tinymce_once.nil? 
  :javascript
    $(function(){
      load_tinymce({
      theme_advanced_buttons1 : "bold,italic,underline,|,justifyleft,justifycenter,justifyright,|,formatselect,|,link,unlink,image,code,gallery",
      setup : function(ed) {
          // Add a custom button
          ed.addButton('gallery', {
            title : '#{t('lolita.tinymce.gallery')}',
            image : '#{asset_path('lolita/tinymce_gallery.png')}',
            onclick : function() {
              $('#fixed-gallery button').css("top",$(window).height()/4-30);
              $('#fixed-gallery').css("height",$(window).height()/4).toggle();
            }
          })
        }
      });
    })
- @textarea_component_include_tinymce_once = "done" 
