<%= form_tag(send(:"lolita_upload_#{tab.type}_path"),:method=>:post, :id=>"#{tab.type}_form") do %>
  <div id="file_upload_container">
    Your bowser don't have HTML5 or Flash support.
  </div>
<% end %>
 <div id="filelist">
    <%= render_component *tab.build("",:list)%>
  </div>
<%= render_component *tab.build("",:upload_script,:container=>"file_upload_container")%>
<%= render_component :"lolita/configuration/tab", :fields, :tab=>tab %>

