#fixed-gallery
  .slider.es-carousel-wrapper
    .es-carousel
      %ul
  %div.close.ui-state-default.ui-corner-all
    %span.ui-icon.ui-icon-closethick
    
:javascript
  $(function(){
    LolitaFileUploadGallery.buttonTitle = '#{t('lolita.tinymce.gallery')}'
    LolitaFileUploadGallery.buttonImage = '#{asset_path('lolita/tinymce_gallery.png')}'
    LolitaFileUploadGallery.get().init()
  })
  