<table id="file_list_for_<%=tab.association.name%>">
  <thead>
    <tr>
      <th>Name</th>
      <th>*</th>
    </tr>
  </thead>
  <tbody>
    <% files = tab.association_type == :one ? [resource.send(tab.association.name)].compact :  resource.send(tab.association.name) %>
    <% files.each do |file| %>
      <%= render_component *tab.build("",:row,:file=>file,:value=>nil) %>
    <% end %>
  </tbody>
</table>